.CityInstance {
  text-align: center;
  background: linear-gradient(180deg, #3C0C0C 0%, 
  #791414 45.83%, #960E0E 95.83%);
  width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.City-header{
  margin-top: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.image_holder{
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  object-fit: scale-down;
  overflow:hidden;
  width: 360px;
  height: 360px;
}


.column1 {
  padding-left:6vw;
  padding-right:6vw;
  width: 35%;
  text-align:left;
}

.line{
  width: 0.5%;
}

.column2 {
  padding-left:8vw;
  padding-right:6vw;
  width: 64.5%;
}
.title{
  font-family: Staatliches;
  font-style: normal;
  font-weight: normal;
  font-size: 200px;
  line-height: 124px;
  text-align: center;  
  margin:0;
  padding:0;
  /* margin-top: 50px; */
}
.info-style{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 90px;
}

.info-title-style{
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
}

.info-unit-style{
  font-family: Raleway;
  font-style: normal;
  font-weight: lighter;
  font-size: 24px;
  line-height: 24px;
}

.map-style {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.row-style {
  margin-top: 10px;
  margin-bottom: 0px;
}
.subcolumn {
  width: 200px;
  margin-left: 15px;
  margin-right: 15px;
}