h3 {
  font-size: 100px;
}

h2 {
  font-size: 30px;
  font-style: italic; 
}


.hook {
  background-color: #556875;
}
.story{
  font-size: 24px;
  color:white;
  padding-right: 2vw;
  padding-left: 2vw;
  text-align:left;
}

.Landing-body {
  text-align: center;
  min-height: 50vh;
  background-color: #556875;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.columnsLanding {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.Landing {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Landing-header {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
    url("../../../assets/landing-bg.jpg");
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Cover the entire container */
  background-color: #556875;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
