h3 {
  font-size: 100px;
}

h2 {
  font-size: 30px;
  font-style: italic; 
}

.hook {
  background-color: #556875;
}

.story{
  font-size: 20px;
  color: #FFFFFF;
  padding-right: 10vw;
  padding-left: 10vw;
  text-align:center;
  padding-bottom: 5vh;
  font-family: 'Raleway';
} 

.story-header{
  padding-bottom: 5vh;
}

.Landing-body {
  text-align: center;
  font-size: 24px;
  min-height: 50vh;
  background-color: black;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.columnsLanding {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.columnsLanding:hover > .overlay {
  width:100%;
  height:100%;
  position:absolute;
  background-color:#000;
  opacity:0.5;
  border-radius:30px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.Landing {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Landing-header {
  background-image: linear-gradient( rgba(161, 77, 77, 0.5), 
  rgba(0.5, 0, 0, 2.0) ),
    url("../../../assets/forest-fire-animation.gif");
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Cover the entire container */
  background-color: #556875;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Raleway';
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.arrow {
  margin-top: 150px;
  margin-bottom: 0;
}

