.h3_invalid {
    font-size: 200px;
    color: #ffffff;
    font-family: "Raleway";
    margin-top: 20vh;
  }
  
.h2_invalid {
    font-size: 25px;
    color: #ffffff;
}

.p_invalid {
    font-size: 20px;
    color: #ffffff;
}
  
  .Invalid-body {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9) ),
    url("../../assets/elmo-fire.gif");
    text-align: center;
    min-height: 100vh;
    padding-top: 2vw;
    padding-right: 2vw;
    padding-left: 2vw;
    font-family: "Raleway";
  }
  
  /* Three image containers (use 25% for four, and 50% for two, etc) */
  .columnsInvalid {
    float: left;
    width: 50%;
    padding: 20px;
    font-size: 24px;
  }
  
  .Toolcolumn {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .About {
    text-align: center;
  }

  .ToolImage{
    object-fit: contain;
    width: 200px;
    height: 100px;
  }

  .Tools{
    padding:2vh;
    text-align: left;
    font-size: 25px;
    color: black;
    background-color: white;
  }

  .caption{
    font-size: 14px;
    color: black;
    text-align: center;
    width: 200px;
    height: 200px;
  }

  .purpose {
    text-align: left;
    font-size: 20px;
    color: #ffffff;
    background-color: #556875;
  }
  
  .About-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .About-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .About-link {
    color: #61dafb;
  }
  
  @keyframes About-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  