.Countries {
  text-align: center;
}

.Countries-header {
  background-color: #556875;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Countries-table {
  display: 'table';
  table-layout:'fixed';
  width:'100%';
}

.side-by-side {
  display:flex; 
  flex-direction:row;
  color: white;
}